/* MEDIA QUERIES */


/* TABLET AND SMALL DESKTOP MODE */


@media (min-width: 900px) and (max-width: 1095px) {
.box1 h1 {
    font-size: 40px;
    font-weight: 550;
}

.about-grid {
    width: 50%;
}

.about-content p {
    text-align: center;
}

.product-images {
    flex-wrap: wrap;
    gap: 100px;
}
}


/* SMALL TABLET AND LARGE MOBILE MODE */


@media (min-width: 601px) and (max-width: 899px) {

.container {
    padding: 0px 0px;
}

    .grid {
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         text-align: center;
         padding: 20px;
    }

    .box2 {
        width: 550px;
    padding: 40px 0;
   justify-content: center;
   align-items: center;
  }

  .box2 img {
  height: 500px;
  }

  

  .box1 p {
    text-align: center;
  }

  .grid-btns {
    justify-content: center;
    
  }

  .grid-text-boxes {
    justify-content: center;
  }

  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  .about-content {
  width: 100%;
  }

  .about-content p {
    font-size: 22px;
    text-align: center;
  }

  .top-content p {
    text-align: center;
  }

  .about-grid {
  width: 80%;
  }

  .product-images {
    flex-wrap: wrap;
    gap: 80px;
  }  

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .contact {
  width: 60%;
  }

  .form {
  width: 60%;
  margin-bottom: 40px;
  }

  .copyright-content {
    padding-top: 30px;
}
}

/* MOBILE PHONE MODE */


/* @media (max-width: 600px) {

} */
