/* MEDIA QUERIES */

/* TABLET AND SMALL DESKTOP MODE */

@media screen and (min-width: 900px) and (max-width: 1095px) {
  .box1 h1 {
    font-size: 40px;
    font-weight: 550;
  }

  .about-grid {
    width: 50%;
  }

  .about-content p {
    text-align: center;
  }

  .product-images {
    flex-wrap: wrap;
    gap: 100px;
  }
}

/* SMALL TABLET AND LARGE MOBILE MODE */

@media screen and (max-width: 899px) {

  .container {
    padding: 0px 0px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
    padding: 20px;
  }

  .box2 {
    width: 550px;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
  }

  .box2 img {
    height: 500px;
  }

  .box1 p {
    text-align: center;
  }

  .grid-btns {
    justify-content: center;
  }

  .grid-text-boxes {
    justify-content: center;
  }

  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

  .about-content {
    width: 100%;
  }

  .about-content p {
    font-size: 22px;
    text-align: center;
  }

  .top-content p {
    text-align: center;
  }

  .about-grid {
    width: 80%;
  }

  .product-images {
    flex-wrap: wrap;
    gap: 80px;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .contact {
    width: 60%;
  }

  .form {
    width: 60%;
    margin-bottom: 40px;
  }

  .copyright-content {
    padding-top: 30px;
  }
}

/* MOBILE PHONE MODE */

@media screen and (max-width: 600px) {




  .box1 h1 {
  font-size: 40px;
}

.box1 p {
  font-size: 16px;
}

.btn {
  padding: 3px 10px;
}

.box2 {
  width: 400px;
}

.box2 img {
  height: 380px;
}

.about-content h1 {
  font-size: 40px;
}

.about-content p {
  font-size: 16px;
}

.about-features h3 {
  font-size: 16px;
}

.about-features p {
  text-align: center;
  font-size: 14px;
}

.top-content h1 {
  font-size: 40px;
}

.top-content p {
  font-size: 18px;
}

.product-images {
  margin: 60px;
  padding: 30px;
}

.all-products-btn {
  font-size: 16px;
  padding: 8px 10px;
}

#footer-container h1{
  font-size: 40px;
}
}

@media screen and (min-width:320px) and (max-width: 445px) {
  .grid {
    width: 100%;
  }

  .box1 h1 {
  font-size: 30px;
}

.box1 p {
  font-size: 14px;
}

.btn {
  padding: 3px 8px;
}

.box2 {
  width: 300px;
}

.box2 img {
  height: 280px;
}

.about-content h1 {
  font-size: 30px;
}

.about-content p {
  font-size: 14px;
}

.about-features h3 {
  font-size: 14px;
}

.about-features p {
  text-align: center;
  font-size: 12px;
}

.top-content h1 {
  font-size: 30px;
}

.top-content p {
  font-size: 16px;
}

.product-images {
  margin: 40px;
  padding: 20px;
}

.all-products-btn {
  font-size: 14px;
  padding: 6px 8px;
}

#footer-container h1{
  font-size: 30px;
}
}
